@import 'tailwindcss';

@import 'tw-animate-css';

@plugin 'tailwind-scrollbar-hide';
@import 'shadcn-prose';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);    /* White */
  --foreground: oklch(0.145 0 0);    /* Neutral 950 */
  --card: oklch(1 0 0);    /* White */
  --card-foreground: oklch(0.145 0 0);    /* Neutral 950 */
  --popover: oklch(1 0 0);    /* White */
  --popover-foreground: oklch(0.145 0 0);    /* Neutral 950 */
  --primary: oklch(0.205 0 0);    /* Neutral 900 */
  --primary-foreground: oklch(0.985 0 0);    /* Zinc 50 */
  --secondary: oklch(0.97 0 0);    /* Neutral 100 */
  --secondary-foreground: oklch(0.205 0 0);    /* Neutral 900 */
  --muted: oklch(0.97 0 0);    /* Neutral 100 */
  --muted-foreground: oklch(0.556 0 0);    /* Neutral 500 */
  --accent: oklch(0.97 0 0);    /* Neutral 100 */
  --accent-foreground: oklch(0.205 0 0);    /* Neutral 900 */
  --destructive: oklch(0.577 0.245 27.325);    /* Red 600 */
  --border: oklch(0.922 0 0);    /* Neutral 200 */
  --input: oklch(0.922 0 0);    /* Neutral 200 */
  --ring: oklch(0.708 0 0);    /* Neutral 400 */
  --chart-1: oklch(0.646 0.222 41.116);    /* Orange 600 */
  --chart-2: oklch(0.6 0.118 184.704);    /* Teal 600 */
  --chart-3: oklch(0.398 0.07 227.392);    /* Cyan 900 */
  --chart-4: oklch(0.828 0.189 84.429);    /* Amber 400 */
  --chart-5: oklch(0.769 0.188 70.08);    /* Amber 500 */
  --sidebar: oklch(0.985 0 0);    /* Zinc 50 */
  --sidebar-foreground: oklch(0.145 0 0);    /* Neutral 950 */
  --sidebar-primary: oklch(0.205 0 0);    /* Neutral 900 */
  --sidebar-primary-foreground: oklch(0.985 0 0);    /* Zinc 50 */
  --sidebar-accent: oklch(0.97 0 0);    /* Neutral 100 */
  --sidebar-accent-foreground: oklch(0.205 0 0);    /* Neutral 900 */
  --sidebar-border: oklch(0.922 0 0);    /* Neutral 200 */
  --sidebar-ring: oklch(0.708 0 0);    /* Neutral 400 */
  
  --brand: oklch(0.623 0.214 259.815);   /* Blue 500 */
  --highlight: oklch(0.852 0.199 91.936);   /* Yellow 400 */
}

.dark {
  --background: oklch(0.145 0 0); /* Neutral 950 */
  --foreground: oklch(0.985 0 0); /* Zinc 50 */
  --card: oklch(0.205 0 0); /* Neutral 900 */
  --card-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --popover: oklch(0.269 0 0); /* Neutral 800 */
  --popover-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --primary: oklch(0.922 0 0); /* Neutral 200 */
  --primary-foreground: oklch(0.205 0 0); /* Neutral 900 */
  --secondary: oklch(0.269 0 0); /* Neutral 800 */
  --secondary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --muted: oklch(0.269 0 0); /* Neutral 800 */
  --muted-foreground: oklch(0.708 0 0); /* Neutral 400 */
  --accent: oklch(0.371 0 0); /* Neutral 700 */
  --accent-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --destructive: oklch(0.704 0.191 22.216); /* Red 400 */
  --border: oklch(1 0 0 / 10%); /* White / 10% */
  --input: oklch(1 0 0 / 15%); /* White / 15% */
  --ring: oklch(0.556 0 0); /* Neutral 500 */
  --chart-1: oklch(0.488 0.243 264.376); /* Blue 700 */
  --chart-2: oklch(0.696 0.17 162.48); /* Emerald 500 */
  --chart-3: oklch(0.769 0.188 70.08); /* Amber 500 */
  --chart-4: oklch(0.627 0.265 303.9); /* Purple 500 */
  --chart-5: oklch(0.645 0.246 16.439); /* Rose 500 */
  --sidebar: oklch(0.205 0 0); /* Neutral 900 */
  --sidebar-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-primary: oklch(0.488 0.243 264.376); /* Blue 700 */
  --sidebar-primary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-accent: oklch(0.269 0 0); /* Neutral 800 */
  --sidebar-accent-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-border: oklch(1 0 0 / 10%); /* White / 10% */
  --sidebar-ring: oklch(0.439 0 0); /* Neutral 600 */

  --brand: oklch(0.707 0.165 254.624);   /* Blue 400 */
  --highlight: oklch(0.852 0.199 91.936);   /* Yellow 400 */
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-brand: var(--brand);
  --color-highlight: var(--highlight);

  --font-heading: 'var(--font-heading)', 'ui-sans-serif', '-apple-system',
    'BlinkMacSystemFont', 'Segoe UI Variable Display', 'Segoe UI', 'Helvetica',
    'Apple Color Emoji', 'Arial', 'sans-serif', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'var(--font-mono)', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-sans: 'var(--font-sans)', 'ui-sans-serif', '-apple-system',
    'BlinkMacSystemFont', 'Segoe UI Variable Display', 'Segoe UI', 'Helvetica',
    'Apple Color Emoji', 'Arial', 'sans-serif', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply overscroll-none bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  /* Custom scrollbar styling. */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }

  .prose {
    --tw-prose-body: var(--foreground);
    --tw-prose-bold: inherit;
    --tw-prose-links: inherit;
    --tw-prose-bullets: var(--foreground);
  }
}

@layer components {
  .border-grid {
    @apply border-border/30 dark:border-border;
  }

  .container-wrapper {
    @apply mx-auto w-full border-border/30 min-[1800px]:max-w-[1536px] min-[1800px]:border-x dark:border-border;
  }

  .container {
    @apply mx-auto max-w-screen-2xl px-4 xl:px-6;
  }
}

/* MDX */

@layer base {
  [data-theme='light'] {
    display: block;
  }

  [data-theme='dark'] {
    display: none;
  }

  .dark [data-theme='light'] {
    display: none;
  }

  .dark [data-theme='dark'] {
    display: block;
  }

  [data-rehype-pretty-code-fragment] {
    @apply relative text-white;
  }

  [data-rehype-pretty-code-fragment] code {
    @apply grid min-w-full rounded-none border-0 bg-transparent p-0 break-words;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-rehype-pretty-code-fragment] .line {
    @apply inline-block min-h-[1rem] w-full px-4 py-0.5;
  }

  [data-rehype-pretty-code-fragment] [data-line-numbers] .line {
    @apply px-2;
  }

  [data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
    @apply text-xs text-zinc-50/40;
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1.8rem;
    margin-right: 1.4rem;
    text-align: right;
  }

  [data-rehype-pretty-code-fragment] .line--highlighted {
    @apply bg-zinc-700/50;
  }

  [data-rehype-pretty-code-fragment] .line-highlighted span {
    @apply relative;
  }

  [data-rehype-pretty-code-fragment] .word--highlighted {
    @apply rounded-md border-zinc-700/70 bg-zinc-700/50 p-1;
  }

  .dark [data-rehype-pretty-code-fragment] .word--highlighted {
    @apply bg-zinc-900;
  }

  [data-rehype-pretty-code-title] {
    @apply mt-2 px-4 pt-6 text-sm font-medium text-foreground;
  }

  [data-rehype-pretty-code-title] + pre {
    @apply !mt-2;
  }
}
