.IconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: var(--ifm-navbar-link-color);
}

.Icon {
  width: 24px;
  height: 24px;
  margin: 4px 16px;
}

.IconContainer:hover {
  color: var(--ifm-navbar-link-active-color);
}
