*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
