.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 1rem;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

h1 {
  font-size: 20px;
}

header h1,
header h2 {
  margin: 0;
}

header button {
  padding: 0.5rem 1rem;
  background: #1355ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

header button:hover {
  background: #0044ff;
}

.hidden {
  display: none;
}

main {
  flex: 1;
  padding: 1rem;
}
