:root {
  --ifm-admonition-background-color: var(--ifm-color-purple);
  --ifm-admonition-color: var(--ifm-color-purple);

  --ifm-admonition-background-color-success: var(--ifm-color-green);
  --ifm-admonition-color-success: var(--ifm-color-green);

  --ifm-admonition-background-color-warning: var(--ifm-color-orange);
  --ifm-admonition-color-warning: var(--ifm-color-orange);

  --ifm-admonition-background-color-error: var(--ifm-color-red);
  --ifm-admonition-color-error: var(--ifm-color-red);
}

// ==============================================================================
// Admonitions
// ==============================================================================

.admonition {
  color: white;
  --ra-admonition-icon-color: white;
}

.admonition-note {
  color: var(--ifm-font-color-base);
  --ra-admonition-icon-color: var(--ifm-font-color-base);
}

.admonition-success {
  background-color: var(--ifm-admonition-background-color-success);
  border-left-color: var(--ifm-admonition-color-success);
}

.admonition-warning,
.admonition-caution {
  background-color: var(--ifm-admonition-background-color-warning);
  border-left-color: var(--ifm-admonition-color-warning);
}

.admonition-danger {
  background-color: var(--ifm-admonition-background-color-error);
  border-left-color: var(--ifm-admonition-color-error);
}

html[data-theme="dark"] {
  .alert {
    background-color: transparent;

    a {
      color: var(--ifm-color-primary);
    }
  }
}
