@import "theme", "admonitions", "footer", "global", "navbar", "shadows",
  "spacing", "transitions", "typography";

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* You can override the default Infima variables here. */
.docusaurus-highlight-code-line {
  background-color: rgb(87, 89, 89);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.DocSearch-Button-Container {
  //padding-right: 150px;
}

html[data-theme="dark"] .DocSearch {
  //--docsearch-text-color: var(--ifm-font-color-base);
  //--docsearch-muted-color: var(--ifm-color-secondary-darkest);
  //--docsearch-container-background: rgba(47, 55, 69, 0.7);
  ///* Modal */
  //--docsearch-modal-background: var(--ifm-background-color);
  ///* Search box */
  //--docsearch-searchbox-background: var(--ifm-background-color);
  //--docsearch-searchbox-focus-background: var(--ifm-color-black);
  ///* Hit */
  //--docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-on-primary);
  //--docsearch-hit-background: var(--ifm-color-emphasis-100);
  ///* Footer */
  //--docsearch-footer-background: var(--ifm-background-surface-color);
  //--docsearch-key-gradient: linear-gradient(
  //  -26.5deg,
  //  var(--ifm-color-emphasis-200) 0%,
  //  var(--ifm-color-emphasis-100) 100%
  //);
}
