@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");

:root {
  --ifm-font-size-12: 0.75rem;
  --ifm-font-size-14: 0.875rem;
  --ifm-font-size-16: 1rem;
  --ifm-font-size-18: 1.125rem;
  --ifm-font-size-20: 1.25rem;
  --ifm-font-size-24: 1.5rem;
  --ifm-font-size-28: 1.75rem;
  --ifm-font-size-30: 1.875rem;
  --ifm-font-size-32: 2rem;
  --ifm-font-size-36: 2.25rem;
  --ifm-font-size-40: 2.5rem;
  --ifm-font-size-48: 3rem;
  --ifm-font-size-56: 3.5rem;
  --ifm-font-size-64: 4rem;
  --ifm-font-size-72: 4.5rem;

  --ifm-font-size-small: var(--ifm-font-size-14);
  --ifm-font-size-body: var(--ifm-font-size-16);
  --ifm-font-size-large: var(--ifm-font-size-20);
  --ifm-font-size-display: var(--ifm-font-size-48);
  --ifm-font-size-display-small: var(--ifm-font-size-24);
  --ifm-font-size-display-large: var(--ifm-font-size-72);

  /* Typography. */
  --ifm-font-color-base: var(--ifm-color-content);
  --ifm-font-color-base-inverse: var(--ifm-color-content-inverse);
  --ifm-font-color-secondary: var(--ifm-color-content-secondary);
  --ifm-font-family-base: Inter, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
  --ifm-font-size-base: 100%;

  --ifm-font-weight-light: 300;
  --ifm-font-weight-normal: 400;
  --ifm-font-weight-semibold: 500;
  --ifm-font-weight-bold: 700;

  --ifm-font-weight-base: var(--ifm-font-weight-normal);
  --ifm-line-height-base: 1.5;
}
