.sd-editor-list-item-node-view {
  position: relative;
  width: 100%;
}

.sd-editor-list-item-numbering {
  position: absolute;
  top: 0;
  white-space: nowrap;
  user-select: none;
  pointer-events: auto;
  text-align: right;
  z-index: 1;
}

.sd-editor-list-item-content-dom {
  position: relative;
  min-height: inherit;
  word-wrap: break-word;
}

/* temporary fix */
.sd-editor-list-item-node-view .sd-custom-selection {
  font-size: inherit !important;
}
