html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
}

td {
  border: 1px solid;
}

[data-slate-editor] {
  padding: 84px 50px 50px;
  position: relative;
}

.slate-HeadingToolbar {
  padding: 17px 60px !important;
  position: fixed !important;
  background: white !important;
  z-index: 1000;
  width: 100%;
}

.tippy-box[data-theme~='tomato'] {
  background-color: tomato;
  color: yellow;
}

.slate-selection-area {
  background: #4f90f22d;
  border: 1px solid #4f90f2;
}

.MuiSvgIcon-root {
  font-size: 18px !important;
}

/* .slate-code_block {
  background-color: #111827 !important;
}

.slate-code_block code {
  color: white;
} */
