.superdoc svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: currentColor;
}

/* Override global svg styles above for AI Writer error state */
.superdoc .ai-textarea-icon.error > svg {
  fill: #ed4337;
}
