name: Registry

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/registry.yml'
      - 'apps/www/src/registry/**'

jobs:
  update-registry:
    name: Update Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        with:
          # To run comparison we need more than the latest commit. Keep the fetch-depth relatively
          # high or set it to zero to get all commits from the git repo.
          # @link https://github.com/actions/checkout#fetch-all-history-for-all-tags-and-branches
          fetch-depth: 150

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
  
      - name: Restore yarn cache
        uses: actions/cache@v3
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-cache-folder-${{ hashFiles('**/yarn.lock', '.yarnrc.yml') }}
          restore-keys: |
            yarn-cache-folder-
 
      - name: Install
        run: yarn install
 
      - name: Build Registry
        run: yarn build:registry
        
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          title: 'Update Registry'
          body: |
            Update Registry.
          commit-message: docs
          committer: GitHub <noreply@github.com>
          branch: registry
          delete-branch: true